.bgColor{
    background-color:#120639;
}

.baseColor{
    background-color:#2E1572;
}

.textColor{
    background-color:#8B51F5;
}

.linkColor{
    color: #DACAFB;
}

.fillColor{
    background-color: #5125AD;
}

.navbar{
    background-color:#2E1572;
    height: 10vh;
}

.navbar-default .navbar-nav>li>a {
    font-size: 200%;
}

.navbar-default .navbar-nav>li>a {
    color:#DACAFB;
}
   
.dropdown-menu{
    background-color:#5125AD;
}

.dropdown-menu>li>a {
    color:#DACAFB;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #5125AD;
    color:#DACAFB;
    width:100%;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: -5%;
}