<div class="col-md-offset-1 col-md-6">
    <div style="text-align:center;background-color: #5125AD;border-top-right-radius: 10px;border-top-left-radius: 10px;">
        <label style="color: white;margin-top:7px;">TITULO</label>
    </div>

    <ul class="list-group" style="background-color:#2E1572;border: 4px solid #5125AD;border-bottom-right-radius: 10px;overflow: auto;height: 200px;border-bottom-left-radius: 10px;">
        <li ng-repeat="objectList in vm.objectList"
            class="list-group-item" style="border:3px solid #5125AD; background-color:#2E1572;color:#8B51F5 ">{{objectList.title}}
        <span class="pull-right  glyphicon glyphicon-map-marker"
              aria-hidden="true"
              style="cursor:pointer"
              ng-click="vm.message1(objectList)"> </span>
        <span class="pull-right glyphicon glyphicon-info-sign"
              aria-hidden="true"
              style="cursor:pointer"
              ng-click="vm.message2(objectList)"> </span>
        </li>
    </ul>
    <a href="#" class="btn btn-default btn-circle pull-right" style="text-align:center;z-index: 2;bottom: 40px;left: 18px;background-color:#5125AD"><span class="glyphicon glyphicon-pencil" style="top:24%;color: white;"></span></a>
</div>