<nav class="navbar navbar-default fillColor">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="col-md-2 dropdown">
      	<a class="glyphicon glyphicon-plus dropdown-toggle" data-toggle="dropdown" href="#"></a>
          <ul class="dropdown-menu list-inline">
          	<li>
          		<a class="glyphicon glyphicon-leaf">	
          		</a>
          	</li>
            <li>
             	<a class="glyphicon glyphicon-eye-open"></a>
            </li>
          </ul>
      </li> 
      <li class="col-md-2 dropdown">
      	<a class="glyphicon glyphicon-pencil dropdown-toggle" data-toggle="dropdown" href="#"></a>
          <ul class="dropdown-menu list-inline">
          	<li><a class="glyphicon glyphicon-leaf"></a></li>
              <li><a class="glyphicon glyphicon-eye-open"></a></li>
          </ul>
      </li> 
      <li class="col-md-2 dropdown"><a class="glyphicon glyphicon-list-alt dropdown-toggle" data-toggle="dropdown" href="#"></a>
          <ul class="dropdown-menu list-inline"><li><a class="glyphicon glyphicon-leaf"></a></li>
              <li><a class="glyphicon glyphicon-eye-open"></a></li>
          </ul>
      </li> 
      <li class="col-md-2 dropdown"><a class="glyphicon glyphicon-send dropdown-toggle" data-toggle="dropdown" href="#"></a>
          <ul class="dropdown-menu list-inline"><li><a class="glyphicon glyphicon-leaf"></a></li>
              <li><a class="glyphicon glyphicon-eye-open"></a></li>
          </ul>
      </li> 
      <li class="col-md-2 dropdown"><a class="glyphicon glyphicon-folder-open dropdown-toggle" data-toggle="dropdown" href="#"></a>
          <ul class="dropdown-menu list-inline"><li><a class="glyphicon glyphicon-leaf"></a></li>
              <li><a class="glyphicon glyphicon-eye-open"></a></li>
          </ul>
      </li> 
      <li class="col-md-2 dropdown"><a class="glyphicon glyphicon-globe dropdown-toggle" data-toggle="dropdown" href="#"></a>
          <ul class="dropdown-menu list-inline"><li><a class="glyphicon glyphicon-leaf"></a></li>
              <li><a class="glyphicon glyphicon-eye-open"></a></li>
          </ul>
      </li>      
    </ul>
  </div>
</nav>
</div>